@import 'variables';

$button-color: #ffffff;
$button-font-family: $font-base;
$button-background: #2390ee;
$button-background_hover: #4eb7f5;
$button-background_disabled: #bdddfa;
$button-border-radius: 99999px;

.disabled {
    background: $button-background_disabled;
    cursor: default;
}

.button {
  font-size: $button-font-size;
  font-family: $button-font-family;
  font-weight: 100;
  color: $button-color;
  background: $button-background;
  border-radius: $button-border-radius;
  padding: $button-padding;
  text-align: center;
  border: 0;
  cursor: pointer;
  outline: 0;

  &:hover,
  &:active {
    background: $button-background_hover;
  }

  &[disabled] {
    @extend .disabled;
  }
}
