@import 'variables';
@import 'breakpoints';
@import 'input';
@import 'button';
@import 'form';

$body-max-width: 585px;
$a-color: #459fed;
$note-font-size: 16px;
$note-color: #858f96;
$note-spacing: 12px 0;

body {
  font-family: $font-base;
  color: $color-base;
  text-align: center;
  max-width: $body-max-width;
  margin: 0 auto 60px auto;

  @include mobile {
    max-width: 90%;
  }
}

a {
  color: $a-color;
  cursor: pointer;
}

@mixin focus() {
  outline: none;
}

@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  -ms-appearance: $value;
  appearance: $value;
}

:focus {
  @include focus();
}
