@import 'variables';

$input-color: #20303c;
$input-font-size: 24px;
$input-font-family: $font-base;
$input-padding: 5px;
$input-border-width: 1px;
$input-border-color: #e0e3e5;
$input-border-color_focus: #77a0c3;
$input-border-color_error: $color-error;
$input-transition: all $transition-duration $transition-easing;

$input-textarea-border-radius: 5px;
$input-textarea-width: 100%;
$input-textarea-height: 160px;
$input-textarea-spacing-top: 10px;

@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  -ms-appearance: $value;
  appearance: $value;
}

%inputs-base {
  display: block;
  width: 100%;
  height: $input-height;
  color: $input-color;
  font-size: $input-font-size;
  font-family: $input-font-family;
  padding: $input-padding;
  border: solid 0 $input-border-color;
  border-bottom-width: $input-border-width;
  background: transparent;
  outline: 0;
  box-sizing: border-box;
  border-radius: 0;
  // transition: $input-transition;

  &:focus {
    border-color: $input-border-color_focus;
  }

  [data-error] + & {
    border-color: $input-border-color_error;
  }

  // Remove yellow background from Chrome autofill
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
  }
}

.input {
  @extend %inputs-base;

  &::-ms-clear {
    display: none;
  }
}

.select {
  @extend %inputs-base;
  @include appearance(none);

  &::-ms-expand {
    display: none;
  }
}

.textarea {
  @extend %inputs-base;
  @include appearance(none);
  border-radius: $input-textarea-border-radius;
  border-width: 1px;
  width: $input-textarea-width;
  height: $input-textarea-height;
  margin-top: $input-textarea-spacing-top;
  resize: none;
  overflow: auto;
}
