// *
// * Colors
// * ==========================================================================
$color-base: #20303c;
$color-error: #f2564d;

 //*
 //* Typography
 //* ==========================================================================
$font-base: 'Segoe UI', 'HelveticaNeue-Thin', sans-serif;

$font-helvetica35: 'HelveticaNeueW01-Thin', 'HelveticaNeueW02-Thin', 'HelveticaNeueW10-35Thin', sans-serif;
$font-helvetica45: 'HelveticaNeueW01-45Ligh', 'HelveticaNeueW02-45Ligh', 'HelveticaNeueW10-45Ligh', sans-serif;
$font-helvetica55: 'HelveticaNeueW01-55Roma', 'HelveticaNeueW02-55Roma', 'HelveticaNeueW10-55Roma', sans-serif;
$font-helvetica65: 'HelveticaNeueW01-65Medi', 'HelveticaNeueW02-65Medi', 'HelveticaNeueW10-65Medi', sans-serif;
$font-helvetica75: 'HelveticaNeueW01-75Bold', 'HelveticaNeueW02-75Bold', 'HelveticaNeueW10-75Bold', sans-serif;


//*
//* Misc
//* ==========================================================================
$transition-duration: 150ms;
$transition-easing: linear;

//*
//* Components
//* ==========================================================================

// input
$input-height: 50px;

// button
$button-font-size: 20px;
$button-padding: 12px 32px;
$button-width: 150px;


$color-accent-main: #459fed;
$color-accent-light: #4eb7f5;
$color-accent-lighter: #d3edff;

$line: 50px;

$Infinity: 9999px;
