<!doctype html>
<head>
  <title>Promote SEO back office</title>
  <%- newrelic %>
  <link rel="stylesheet" href="<%= baseStaticUrl %>app.css">
</head>
<body>
  <div id="root"></div>
  <script>
    window.__BASENAME__ = '<%= basename %>';
  </script>
  <script src="<%= baseStaticUrl %>app.bundle.js"></script>
</body>
</html>
