.container(ng-click="siteGeneratorStaticsMetadataApp.onClick()")
  .hero-unit
    %h1
      {{'general.YO' | translate}}
      %i.logo-on-header.site-generator-statics-metadata-svg-font-icons-wix-logo
    %div
      This is {{siteGeneratorStaticsMetadataApp.name}} ({{siteGeneratorStaticsMetadataApp.clicks}})
    %h3 Enjoy coding! - Yeoman
