body {
	font-family: 'HelveticaNeueLTStd-Th';
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #2b5672;
	background: #ecf1f4;
}

a:hover,
a:focus {
	outline: 0;
}

#header {
	background: #fff;
	min-height: 85px;
	border-bottom: 1px solid #dce1e4;
}
.logo {
	display: inline-block;
	margin-top: 30px;
	margin-left: 35px;
}
.user-login {
	text-align: center;
	display: inline-block;
	float: right;
	margin-top: 15px;
	border-left: 1px solid #daeffe;
	padding-left: 35px;
	margin-right: 35px;
}
.user-login img {
	display: inline-block;
}
.user-login p {
	font-family: 'HelveticaNeueLTStd-Lt';
	color: #20455e;
	margin: 0;
}

.wrap-content {
	margin-top: 65px;
}
.message-arrow {
	margin-bottom: 35px;
}
.message-arrow .mg-img {
	display: inline-block;
	float: left;
	margin-right: 20px;
}
.message-arrow .mg-text {
	display: inline-block;
}
.message-arrow .mg-text h3 {
	color: #162d3d;
	font-size: 36px;
	line-height: 38px;
	margin-top: 0;
	margin-bottom: 5px;
}
.message-arrow .mg-text p {
	font-family: 'HelveticaNeueLTStd-Lt';
	color: #7a92a5;
	font-size: 18px;
	line-height: 20px;
	margin: 0;
}

.details-img {
	position: relative;
	margin-bottom: 30px;
}
.details-img .button-2 {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-bottom: 11px;
	font-size: 16px;
	line-height: 18px;
	padding: 5px 10px;
	width: 110px;
	margin-left: -55px;
}

.message-details {
	background: #fff;
	padding: 35px;
	border-radius: 8px;
	margin-bottom: 30px;
	border-bottom: 2px solid #dde2e5;
}
.message-details .title {
	font-family: 'HelveticaNeueLTStd-Lt';
	margin-top: 0;
	color: #2b5672;
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 4px;
}
.message-details .text {
	color: #2b5672;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 40px;
	letter-spacing: .5px;
}


.form-group {
	margin-bottom: 25px;
}
.form-group label {
	font-family: 'HelveticaNeueLTStd-Lt';
	font-weight: normal;
	color: #2b5672;
	display: inline-block;
	width: 100%;
}
.form-group select,
.form-group textarea,
.form-group input[type=email],
.form-group input[type=tel],
.form-group input[type=time],
.form-group input[type=date],
.form-group input[type=text] {
	background: #fff;
	border: 1px solid #c6e2f7;
	box-shadow: 0px 0px 0px #fff;
	height: auto;
	color: #666;
	font-size: 16px;
	line-height: 20px;
	padding: 8px 12px;
	letter-spacing: .5px;
	width: 100%;
}

.form-group select:focus,
.form-group textarea:focus,
.form-group input[type=email]:focus,
.form-group input[type=tel]:focus,
.form-group input[type=time]:focus,
.form-group input[type=date]:focus,
.form-group input[type=text]:focus {
	border: 1px solid #3899ec;
	box-shadow: 0px 0px 0px #fff;	
}

.form-group .btn-default {
	border: 1px solid #c6e2f7;
}
.form-group .btn-group.open .dropdown-toggle,
.form-group .btn-default:hover,
.form-group .btn-default:focus {
	background: #fff !important;
	box-shadow: 0px 0px 0px #fff;
	border: 1px solid #3899ec !important;
	outline: 0;
}
.form-group .btn-default .bs-caret {
	color: #3899ec;
}
.bootstrap-select.btn-group .dropdown-menu.inner,
.bootstrap-select.btn-group .dropdown-menu {
	max-height: auto !important;
}
.bootstrap-select.btn-group .dropdown-menu li a {
	padding: 3px 10px;
}
.bootstrap-select.btn-group .dropdown-menu li a .text {
	margin-bottom: 0;
}

.form-group .col-event {
	width: 26%;
	float: left;
	margin-right: 10px;
}
.form-group .col-calender {
	display: inline-block;
}


.division {
	border-color: #C6E2F7;
	display: inline-block;
	width: 96%;
	margin-left: 15px;
}


.wrap-sidebar {
	background: #fff;
	padding: 35px;
}
.sidebar-item {
	margin-bottom: 35px;
}
.sidebar-item .title {
	font-family: 'HelveticaNeueLTStd-Lt';
	color: #2b5672;
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 20px;
}
.sidebar-item img {
	display: inline-block;
}

/* Button Style */

.button-1 {
	font-family: 'HelveticaNeueLTStd-Lt';
	color: #3899ec;
	border: 1px solid #3899ec;
	border-radius: 25px;
	height: auto;
	font-size: 16px;
	line-height: 18px;
	padding: 10px 20px;
	white-space: normal;
}
.button-1:hover,
.button-1:focus {
	color: #3899ec;
}
.button-2 {
	font-family: 'HelveticaNeueLTStd-Lt';
	color: #fff;
	background: #3899ec;
	border: 1px solid #3899ec;
	border-radius: 25px;
	height: auto;
	font-size: 16px;
	line-height: 18px;
	padding: 10px 20px;
	display: inline-block;
	margin-top: 10px;
	white-space: normal;
}
.button-2:hover,
.button-2:focus {
	color: #fff;
}


/* Check Box Style */

.checkbox {
	margin-top: 0;
	margin-bottom: 0px;
	padding-left: 20px;
}
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 10px;
}
.checkbox label:after,
.checkbox label:before {
	top: 0;
    left: 0;
    display: inline-block;
    position: absolute;
    margin-left: -20px
}
.checkbox label:before {
    content: "";
    width: 17px;
    height: 17px;
	margin-top: 0px;
    border: 1px solid #c6e2f7;
    border-radius: 2px;
    background-color: #fff;
	margin-top: 5px;
}
.checkbox label:after {
    width: 17px;
    height: 17px;
    top: 0;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #73879C
}
.checkbox input[type=checkbox]{
    opacity: 0;
    z-index: 1;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.checkbox input[type=checkbox]:checked+label:after {
	content: "";
	color: #fff;
	cursor: pointer;
	background-color: #3899ec;
	background-image: url(../images/check.png);
	border-radius: 2px;
	width: 16px;
	height: 16px;
	border: 0;
	margin-top: 5px;
}
.checkbox input[type=checkbox]:disabled+label:before{
    background-color: #fff;
    cursor: not-allowed
}
.checkbox input[type=checkbox]:disabled {
    cursor: not-allowed
}

.slideOne {
    width: 45px;
    height: 26px;
    background: #0099ef;
    position: relative;
    border-radius: 50px;
    float: right;
}

.slideOne label {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -0px;
  left: -3px;
  cursor: pointer;
  background-color: #fff;
  background-image: url(../images/check2.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 25px;
  border-radius: 50px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}

.slideOne input[type=checkbox] {
  visibility: hidden;
}

.slideOne input[type=checkbox]:checked + label {
  left: 20px;
}

/* Gallery Style */
.gallery-item {
	margin-bottom: 20px;
}
.gallery-item .gl-img {
	position: relative;
	text-align: center;
	margin-bottom: 20px;
}
.gallery-item .gl-img .img-gl {
	display: inline-block;
	position: relative;
	padding: 2px;
	border: 2px solid transparent;
	-moz-transition: all .3s ease-out 0s;
	-webkit-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}
.gallery-item p {
	font-family: 'HelveticaNeueLTStd-Lt';
	color: #7a92a5;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
}

.gallery-item.selected .img-responsive {
	border: 2px solid #3899ec;
	border-radius: 6px;
}

.gallery-add {
	margin-bottom: 25px;
}
.gallery-add .add-caption {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	text-align: center;
}
.gallery-add .add-caption img {
	margin-bottom: 20px;
	display: inline-block;
}
.gallery-add .add-caption a {
	text-decoration: none;
}
.gallery-add .add-caption p {
	font-family: 'HelveticaNeueLTStd-Lt';
	color: #3899ec;
	font-size: 14px;
	line-height: 18px;
	text-align: center;	
}

.gallery-item .gl-img:hover .gl-caption {
	visibility: visible;
}
.gallery-item .gl-img:hover .img-gl {
	opacity: 0.4;
}
.gallery-item .gl-img:active .img-gl,
.gallery-item .gl-img:focus .img-gl {
	padding: 2px;
	border: 2px solid #4cb3f1;
	border-radius: 12px;
	opacity: 1.0;
}
.gallery-item .gl-caption {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	visibility: hidden;
	-moz-transition: all .3s ease-out 0s;
	-webkit-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}
.gallery-item .gl-caption .btn-choose {
	font-family: 'HelveticaNeueLTStd-Lt';
	display: inline-block;
	background: #3899ec;
	color: #fff;
	padding: 6px 20px;
	font-size: 16px;
	line-height: 18px;
	border-radius: 20px;
	min-width: 120px;
}
.gallery-item .gl-caption .btn-edit {
	font-family: 'HelveticaNeueLTStd-Lt';
	display: inline-block;
	background: #fff;
	color: #4eb7f5;
	padding: 6px 20px;
	font-size: 16px;
	line-height: 18px;
	border-radius: 20px;
	min-width: 120px;
}
.gallery-item .gl-caption .btn:focus {
	outline: 0;
}



/** ==========================================
	      Responsive css
========================================== **/

/* Desktop layout */
@media (min-width:1200px) {
	.sticky-sb {position: fixed;bottom: 0;width: inherit;}
	.col-content {padding-left: 35px;padding-right: 35px;}
	.col-sidebar {padding-right: 0;padding-left: 0;}
	.wrap-sidebar {min-height: 1000px;}
	.details-img {display: inline-block;}
	.gallery-item .gl-img .img-gl {min-width: 180px;}
}

/* Big tablet layout */
@media only screen and (min-width:992px) and (max-width:1199px) {
	.sticky-sb {position: fixed;bottom: 0;width: inherit;}
	.col-content {padding-left: 35px;padding-right: 35px;}
	.col-sidebar {padding-right: 0;padding-left: 0;}
	.wrap-sidebar {min-height: 1000px;}
	.details-img {display: inline-block;}
}

/* Normal tablet layout */
@media only screen and (min-width:768px) and (max-width:991px) {
	.wrap-sidebar {min-height: 1000px;}
	.form-group .col-event {width: 45%;margin-bottom: 10px;margin-right: 5%;}
}

/* Normal mobile layout */
@media only screen and (max-width:767px) {
	.form-group .col-event {width: 100%;margin-bottom: 15px;}
	.user-login {margin-top: -45px;}
	.gallery-item .gl-img .img-gl {min-width: 200px;}
}

