<div ng-if="$ctrl.shouldDisplayErrorMsg" class='card-validation-error' data-hook='submit-error-message' id='generalError'>
    <p class='wix-payment-invalid-form-input-label'>{{'payment.submit_error' | translate}}</p>
</div>
<div class='container credit-card-form-container wix-payment-square' data-hook='wix-payment-credit-card-form-container'>
    <div class='resize-element'>
        <form class='payment-form' id='paymentForm' name='wixPaymentCreditCardForm.paymentForm'
              ng-submit='$ctrl.submit()' novalidate>
            <fieldset>
                <div class='wix-payment-form-row payment-method validation-wrap'>
                    <div class='inner-wrap'>
                        <div class='wix-payment-square-card-number-section'>
                            <label class='input-label' data-hook='card-number-label' for='wix-payment-sq-card-number'>{{'payment.cardNumber'
                                | translate}}</label>
                            <div id='wix-payment-sq-card-number'></div>
                        </div>
                        <div class='wix-payment-square-exprdt-cvv-section'>
                            <div class='wix-payment-square-exprdt-section'>
                                <label class='input-label expiration-label' for='wix-payment-sq-expiration-date'>{{'payment.expirationDateLabel'
                                    | translate}}</label>
                                <div id='wix-payment-sq-expiration-date'></div>
                            </div>
                            <div class='wix-payment-square-cvv-section'>
                                <div>
                                    <label class='input-label security-label' for='wix-payment-sq-cvv'>{{'payment.securityNumerLabel'
                                        | translate}}</label>
                                    <div id='wix-payment-sq-cvv'></div>
                                </div>
                                <wix-security-code-tooltip
                                        on-show-tooltip='$ctrl.securityHover()'></wix-security-code-tooltip>
                            </div>
                        </div>
                        <div class='wix-payment-square-postal-code-section'>
                            <label class='input-label' data-hook='postal-code' for='wix-payment-sq-postal-code'>{{'payment.sqPostalCode'
                                | translate}}</label>
                            <div id='wix-payment-sq-postal-code'></div>
                        </div>
                        <div class='wix-payment-square-submit-section'>
                            <button class='wix-payment-button-primary wcsh-next-button payment-svg-font-icons-lock last-line'
                                    data-hook='submit' id='submit-button'
                                    ng-class="{'is-button-loading': $ctrl.inPaymentProcess}"
                                    ng-disabled='$ctrl.inPaymentProcess || (!$ctrl.termsAndConditionsChecked && $ctrl.useTermsAndConditions)'>
                                {{::'payment.payNow' | translate}}
                            </button>
                            <div class='wix-payment-terms-and-conditions'
                                 data-hook='wcsh-payment-creditCard-terms-and-conditions'
                                 ng-if='$ctrl.useTermsAndConditions'>
                                <label>
                                    <input class='wix-payment-terms-and-conditions-cb'
                                           id='wix-payment-terms-and-conditions-cb'
                                           ng-init='$ctrl.termsAndConditionsChecked=true'
                                           ng-model='$ctrl.termsAndConditionsChecked'
                                           type='checkbox'>
                                    <i class='payment-svg-font-icons-check'></i>
                                </label>
                                <label class='wix-payment-terms-and-conditions-label'
                                       for='wix-payment-terms-and-conditions-cb'>{{'payment.termsAndConditionsLabel' |
                                    translate}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
