.container.credit-card-form-container(data-hook="wix-payment-credit-card-form-container")
  .resize-element(watch-element-resize on-size-change="wixPaymentCreditCardForm.sizeChanged(height)")
    #generalError.card-validation-error(ng-show="wixPaymentCreditCardForm.submitError" ng-class="{'hidden': wixPaymentCreditCardForm.submittingForm}" data-hook="submit-error-message")
      %p.card-validation-error-title {{'payment.submit_error' | translate}}
    %form.payment-form(id="paymentForm" accessible-form name="wixPaymentCreditCardForm.paymentForm" ng-submit="wixPaymentCreditCardForm.paymentForm.$valid && !wixPaymentCreditCardForm.submittingForm && wixPaymentCreditCardForm.submitForm()" novalidate)
      %fieldset
        .wix-payment-form-row.payment-method.validation-wrap(wix-payment-has-focus  ng-class="{'required-valid': wixPaymentCreditCardForm.paymentForm.cardNumber.$dirty && !wixPaymentCreditCardForm.paymentForm.cardNumber.$error.required, 'invalid': (wixPaymentCreditCardForm.paymentForm.$submitted || wixPaymentCreditCardForm.paymentForm.cardNumber.$touched) && (wixPaymentCreditCardForm.paymentForm.cardNumber.$error.luhn_check || wixPaymentCreditCardForm.paymentForm.cardNumber.$error.required), 'invalid-potential': wixPaymentCreditCardForm.paymentForm.cardNumber.$error.potential }")
          .inner-wrap
            %label.form-label(data-hook="card-number-label" for="cardNumber") {{'payment.cardNumber' | translate}}
            .wix-payment-input-container
              %wix-credit-card-input(ng-model="wixPaymentCreditCardForm.creditCardNumber" card-error="wixPaymentCreditCardForm.cardError()" data-hook="credit-card-number")
          %span.wix-payment-invalid-form-input-label(data-hook="invalid-card-number") {{'payment.invalidCreditCardError' | translate}}
        .wix-payment-form-row.expiration-row(wix-payment-has-focus ng-class="{'required-valid': (wixPaymentCreditCardForm.paymentForm.expirationDate.$touched && !wixPaymentCreditCardForm.paymentForm.expirationDate.$error.required) || (wixPaymentCreditCardForm.paymentForm.expirationDate.$dirty && !wixPaymentCreditCardForm.paymentForm.expirationDate.$error.required) }" )
          .wix-payment-expiration-date-wrap.validation-wrap(wix-payment-has-focus ng-class="{'required-valid': !wixPaymentCreditCardForm.paymentForm.expirationDate.$error.required, 'invalid': wixPaymentCreditCardForm.paymentForm.expirationDate.$error.has_future_potential || ((wixPaymentCreditCardForm.paymentForm.expirationDate.$error.future_expiration_date || wixPaymentCreditCardForm.paymentForm.expirationDate.$error.required)&& (wixPaymentCreditCardForm.paymentForm.$submitted || wixPaymentCreditCardForm.paymentForm.expirationDate.$dirty))}")
            .inner-wrap
              %label.form-label.expiration-label {{'payment.expirationDateLabel' | translate}}
              .expiration-date.wix-payment-input-container(name="expirationDate" wix-payment-expiration-date ng-model="wixPaymentCreditCardForm.expirationDate")
            %span.wix-payment-invalid-form-input-label(wix-payment-match-label-heights data-hook="invalid-expiration-date") {{'payment.invalidExpDateError' | translate}}
          .wix-payment-security-number-wrap.validation-wrap(wix-payment-has-focus ng-class="{'required-valid': wixPaymentCreditCardForm.paymentForm.securityNumber.$dirty && !wixPaymentCreditCardForm.paymentForm.securityNumber.$error.required, 'invalid': !wixPaymentCreditCardForm.paymentForm.securityNumber.$valid && (wixPaymentCreditCardForm.paymentForm.$submitted || wixPaymentCreditCardForm.paymentForm.securityNumber.$touched)}")
            .wix-security-code-content
              .inner-wrap#securityNumberInnerWrap
                %label.form-label.security-label(for="securityNumber") {{'payment.securityNumerLabel' | translate}}
                .wix-payment-input-container
                  %input.input-short#securityNumber(type="text" autocomplete="off" pattern="[0-9]*" ng-minlength=3 ng-maxlength=4 required name="securityNumber" ng-model="wixPaymentCreditCardForm.securityNumber" data-hook="payment-iframe-security-number" placeholder-when-out-of-focus="{{'payment.securityNumerLabel' | translate}}")
              %wix-security-code-tooltip(on-show-tooltip="wixPaymentCreditCardForm.securityHover()")
            %span.wix-payment-invalid-form-input-label(wix-payment-match-label-heights data-hook="invalid-security-code") {{'payment.invalidSecurityCodeError' | translate}}
        .wix-payment-form-row.name-on-card.validation-wrap(wix-payment-has-focus ng-class="{'required-valid': wixPaymentCreditCardForm.paymentForm.cardHolderName.$dirty && !wixPaymentCreditCardForm.paymentForm.cardHolderName.$error.required, 'invalid': wixPaymentCreditCardForm.paymentForm.cardHolderName.$error.required && (wixPaymentCreditCardForm.paymentForm.$submitted || wixPaymentCreditCardForm.paymentForm.cardHolderName.$touched)}")
          .inner-wrap
            %label.form-label.name-on-card-label(for="cardHolderName") {{'payment.holderName' | translate}}
            .wix-payment-input-container
              %input(type="text" autocomplete="off" name="cardHolderName" ng-model="wixPaymentCreditCardForm.holderName" required id="cardHolderName" placeholder-when-out-of-focus="{{'payment.enterCardHolderName' | translate}}" data-hook="payment-iframe-card-holder-name")
          %span.wix-payment-invalid-form-input-label(data-hook="invalid-name-on-card") {{'payment.invalidCardHolderNameError' | translate}}
        %p.submit-wrap
          %button.wix-payment-button-primary.wcsh-next-button.payment-svg-font-icons-lock.last-line(ng-mousedown="wixPaymentCreditCardForm.onButtonMouseDown($event)" id="submit-button" data-hook="payment-iframe-submit" ng-disabled="!!wixPaymentCreditCardForm.submittingForm || (!wixPaymentCreditCardForm.termsAndConditionsChecked && wixPaymentCreditCardForm._getTermsAndConditionsFlag())" ng-class="{'is-button-loading': wixPaymentCreditCardForm.submittingForm}" ng-if="!wixPaymentCreditCardForm._getExternalSubmitButtonFlag()") {{'payment.payNow' | translate}}
    .wix-payment-terms-and-conditions(ng-if="wixPaymentCreditCardForm._getTermsAndConditionsFlag()" data-hook="wcsh-payment-creditCard-terms-and-conditions")
      %label
        %input.wix-payment-terms-and-conditions-cb(type="checkbox" id="wix-payment-terms-and-conditions-cb" ng-model="wixPaymentCreditCardForm.termsAndConditionsChecked" ng-init="wixPaymentCreditCardForm.termsAndConditionsChecked=true")
        %i.payment-svg-font-icons-check
      %label.wix-payment-terms-and-conditions-label(for="wix-payment-terms-and-conditions") {{'payment.termsAndConditionsLabel' | translate}}
