<!doctype html>
<!-- #if( false )
  Prerequisites from server model:
  --------------------------------
  ${locale}, ${debug}, ${experiments},
  ${newRelicEndUserHeader}, ${newRelicEndUserFooter}
  ${clientTopology.paymentStaticsUrl},
  ${clientTopology.staticBaseUrl},

  More details at: http://kb.wixpress.com/display/dashboard/How+to+integrate+server+with+index.vm
#end -->
<!--
  #if( false )
  DO NOT TOUCH!!
  --------------
  #end
  #set( $languages = ["de","en","es","fr","it","ja","ko","pl","pt","ru","tr","nl","da"] )
  #if( !$languages.contains($locale) )
    #set( $locale = "en" )
  #end
  #set( $staticsUrl = $clientTopology.paymentStaticsUrl )
  #set( $staticBaseUrl = $clientTopology.staticBaseUrl )
-->
<html ng-app="testApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>wixPayment</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex, nofollow">
    <meta name="referrer" content="origin">
    <link type="image/png" href="//www.wix.com/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="${staticBaseUrl}services/third-party/fonts/Helvetica/fontFace.css">
    <!-- process-tags prefix('${staticsUrl}') -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- end-process-tags -->

    ${newRelicEndUserHeader}
    <style type="text/css">
    .payment{
      height: 400px;
      width: 100%;
      border: none;
      font-size: 18px;
      color: #575757;
    }
    </style>
  </head>
  <body>

    <!-- Add your site or application content here -->
    <div ng-app="testApp" ng-controller="MainController as main">
        <div style="border-bottom:1px solid black;">
          <div>
              OrderId: <span>{{main.orderId}}</span>
              <ul>
                <li ng-repeat="response in main.responses">Event: <span class="response-title">{{response.eventType}}</span></li>
              </ul>
          </div>
<!--           <button class="submit" ng-click="main.submit()">submit</button> -->
        </div>
        <iframe ng-style="main.heightStyle" frameBorder="0" name="payment" class="payment" ng-src="{{main.frameSrc}}"></iframe>
    </div>

<!-- process-tags prefix('${staticsUrl}') -->
    <!-- build:js scripts/test-page-modules.js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_${locale}.js"></script>
    <script src="bower_components/uri.js/src/URI.js"></script>
    <script src="bower_components/wix-angular/dist/wix-angular.js"></script>
    <script src="bower_components/wix-bi-logger/dist/scripts/bi-logger/wix-bi-angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbuild -->
    <!-- build:locale({.tmp,app}) scripts/locale/messages_${locale}.js -->
    <script src="scripts/locale/messages_${locale}.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/test-page-scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="views/main.html.js"></script>
    <script src="scripts/controllers/payment.js"></script>
    <script src="scripts/dto/payment-dto.js"></script>
    <script src="scripts/dto/site-message-dto.js"></script>
    <script src="scripts/dto/bi-dto.js"></script>
    <script src="scripts/services/site-api.js"></script>
    <script src="scripts/services/payments-api.js"></script>
    <script src="scripts/directives/credit-card-validator.js"></script>
    <script src="scripts/directives/expiration-date.js"></script>
    <script src="scripts/filters/range.js"></script>
    <script src="scripts/constants/payment-constants.js"></script>
    <script src="scripts/directives/focus.js"></script>
    <script src="scripts/directives/accessible-form.js"></script>
    <script src="scripts/services/bi-logger-api.js"></script>
    <script src="scripts/directives/watch-element-resize.js"></script>
    <script src="scripts/directives/wix-payment-tab.js"></script>
    <script src="scripts/directives/wix-payment-tabset.js"></script>
    <script src="scripts/services/settings-api.js"></script>
    <script src="scripts/directives/placeholder-when-out-of-focus.js"></script>
    <script src="scripts/directives/wix-payment-has-focus.js"></script>
    <script src="scripts/services/key-codes.js"></script>
    <script src="scripts/directives/month-view-parser-model-formatter.js"></script>
    <script src="scripts/directives/on-month-input-set.js"></script>
    <script src="scripts/directives/month-potential-validator.js"></script>
    <script src="scripts/directives/month-value-validator.js"></script>
    <script src="scripts/directives/expiration-date-year-model.js"></script>
    <script src="scripts/directives/year-potential-validator.js"></script>
    <script src="scripts/directives/year-value-validator.js"></script>
    <script src="scripts/services/dom-event-helper.js"></script>
    <script src="scripts/directives/wix-payment-match-label-heights.js"></script>
    <script src="scripts/services/cashier-bi-logger-service.js"></script>
    <script src="scripts/constants/server-payment-status-constants.js"></script>
    <script src="scripts/constants/cashier-payment-method-constants.js"></script>
    <script src="scripts/constants/payment-gatewayid-constants.js"></script>
    <script src="scripts/constants/bi-constants.js"></script>
    <script src="scripts/components/wix-conditional-payment-button.js"></script>
    <script src="scripts/components/wix-security-code-tooltip.js"></script>
    <script src="scripts/components/wix-payment-square.js"></script>
    <script src="scripts/services/bi-service.js"></script>
    <!-- endbuild --><!-- scripts -->
    <!-- end-process-tags -->

    <!-- #if( ${enableMocks} ) -->
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>

    <!-- build:js(.tmp) scripts/mocks.js -->
    <script src="test/mock/server-api.js"></script>
    <!-- endbuild -->
    <!-- #end -->
    <script>
    /* jshint ignore:start */
        angular.module('testApp', ['wixAngular', 'wix.common.bi'])
        .config(function (wixAngularTopologyProvider, experimentManagerProvider) {
            wixAngularTopologyProvider.setStaticsUrl('${staticsUrl}');
            experimentManagerProvider.setExperiments(JSON.parse('${experiments}'));
        }).controller('MainController', function($scope, $interpolate, $location, paymentApi){
            var that = this;
            that.orderId = $location.search().orderId;
            that.visitorId = $location.search().visitorId;
            that.appInstanceId = $location.search().appInstanceId;
            that.frameSrc = $interpolate("./index.html#?orderId={{orderId}}&visitorId={{visitorId}}&appInstanceId={{appInstanceId}}")(that);

            this.responses = [];//'initilized';
            paymentApi.init();
            $scope.$on('message', function (event, data) {
                $scope.$apply(function() {
                  console.log(data);
                  if (data.eventType !== 'setHeight') {//Do not print 'setHeight Event'
                    that.responses.push({'eventType': data.eventType});//TODO: add event data here as well
                  } else {
                    if (data.eventType === 'setHeight' && data.height) {
                      that.heightStyle = {"height": data.height + 'px'};
                    }
                  }
                });
            });
        }).service('paymentApi', function($window, $rootScope) {
            this.init = function () {
                $window.addEventListener('message', receiveMessage);
            };

            function receiveMessage(event) {
                $rootScope.$broadcast('message', event.data);
            }
        });
        <!-- #end -->
    </script>
    ${newRelicEndUserFooter}

  </body>
</html>
