j<!doctype html>
<!-- #if( false )
  Prerequisites from server model:
  --------------------------------
  ${locale}, ${debug}, ${experiments},
  ${newRelicEndUserHeader}, ${newRelicEndUserFooter}
  ${clientTopology.paymentStaticsUrl},
  ${clientTopology.staticBaseUrl},

  More details at: http://kb.wixpress.com/display/dashboard/How+to+integrate+server+with+index.vm
#end -->
<!--
  #if( false )
  DO NOT TOUCH!!
  --------------
  #end
  #set( $languages = ["de","en","es","fr","it","ja","ko","pl","pt","ru","tr","nl","da"] )
  #if( !$languages.contains($locale) )
    #set( $locale = "en" )
  #end
  #set( $staticsUrl = $clientTopology.paymentStaticsUrl )
  #set( $staticBaseUrl = $clientTopology.staticBaseUrl )
-->
<html ng-app="testApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>wixPayment</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <meta name="referrer" content="origin">
    <link type="image/png" href="//www.wix.com/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="${staticBaseUrl}services/third-party/fonts/Helvetica/fontFace.css">
    <!-- process-tags prefix('${staticsUrl}') -->
    <!-- build:css({.tmp,app}) styles/wix-payment.css -->
    <link rel="stylesheet" href="styles/wix-payment.css">
    <!-- endbuild -->
    <!-- end-process-tags -->

    <style>

      @media only screen and (min-device-width: 1025px) {
        .test-app {
          margin-top: 100px;
          margin-left: 100px;
          width: 60%;
        }
      }
    </style>
  </head>
  <body style="margin:0">

    <!-- Add your site or application content here -->
    <div ng-app="testApp" ng-controller="MainController as main" class="test-app">
      <div style="border:1px dashed grey;">
        <div>
            OrderId: <span>{{main.orderId}}</span>
            <ul>
              <li ng-repeat="event in main.events">Event: <span class="response-title">{{event.eventType}}</span><span class="response-description">{{event.description}}</span></li>
            </ul>
        </div>
      </div>
      <p></p>
      <wix-payment
        on-payment-start="main.onPaymentStart()"
        on-payment-success="main.onPaymentSuccess()"
        on-load="main.onLoad()"
        on-error="main.onError()"
        on-payment-error="main.onPaymentError()"
        on-payment-navigate="main.onPaymentNavigate()"
        on-payment-navigate-back="main.onPaymentNavigateBack()"
        configurations="main.config">
      </wix-payment>
      <button ng-click="main.submitExternalPayment()" id="payButton">Pay</button>
    </div>

    <script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>

    <!-- process-tags prefix('${staticsUrl}') -->
    <script src="bower_components/lodash-2-4-1/dist/lodash.compat.js"></script>

    <!-- build:js scripts/wix-payment-modules.js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_${locale}.js"></script>
    <script src="bower_components/uri.js/src/URI.js"></script>
    <script src="bower_components/wix-angular/dist/wix-angular.js"></script>
    <script src="bower_components/wix-bi-logger/dist/scripts/bi-logger/wix-bi-angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbuild -->
    <!-- build:locale({.tmp,app}) scripts/locale/messages_${locale}.js -->
    <script src="scripts/locale/messages_${locale}.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/wix-payment-statics.js -->
    <script src="scripts/app.js"></script>
    <script src="views/main.html.js"></script>
    <script src="views/square.html.js"></script>
    <script src="scripts/controllers/payment.js"></script>
    <script src="scripts/domain/settings.js"></script>
    <script src="scripts/dto/settings-dto.js"></script>
    <script src="scripts/dto/payment-dto.js"></script>
    <script src="scripts/dto/site-message-dto.js"></script>
    <script src="scripts/dto/bi-dto.js"></script>
    <script src="scripts/services/site-api.js"></script>
    <script src="scripts/services/payments-api.js"></script>
    <script src="scripts/services/configurationsService.js"></script>
    <script src="scripts/services/biEventsService.js"></script>
    <script src="scripts/services/paymentService.js"></script>
    <script src="scripts/directives/credit-card-validator.js"></script>
    <script src="scripts/directives/expiration-date.js"></script>
    <script src="scripts/filters/range.js"></script>
    <script src="scripts/constants/payment-constants.js"></script>
    <script src="scripts/directives/focus.js"></script>
    <script src="scripts/directives/accessible-form.js"></script>
    <script src="scripts/services/bi-logger-api.js"></script>
    <script src="scripts/components/wix-payment.js"></script>
    <script src="scripts/directives/watch-element-resize.js"></script>
    <script src="scripts/components/wix-payment-paypal/wix-payment-paypal.component.js"></script>
    <script src="scripts/components/wix-payment-paypal/wix-payment-paypal.service.js"></script>
    <script src="scripts/components/wix-payment-yandex/wix-payment-yandex.component.js"></script>
    <script src="scripts/components/wix-payment-yandex/wix-payment-yandex.service.js"></script>
    <script src="scripts/components/wix-payment-creditcard.js"></script>
    <script src="scripts/directives/wix-payment-tab.js"></script>
    <script src="scripts/directives/wix-payment-tabset.js"></script>
    <script src="scripts/services/settings-api.js"></script>
    <script src="scripts/components/wix-payment-square/_square.js"></script>
    <script src="scripts/components/wix-payment-square/square-adapter.js"></script>
    <script src="scripts/components/wix-payment-mercadopago/wix-payment-mercadopago.component.js"></script>
    <script src="scripts/components/wix-payment-mercadopago/wix-payment-mercadopago.service.js"></script>
    <script src="scripts/components/wix-payment-offline/wix-payment-offline.js"></script>
    <script src="scripts/directives/placeholder-when-out-of-focus.js"></script>
    <script src="scripts/directives/wix-payment-has-focus.js"></script>
    <script src="scripts/services/key-codes.js"></script>
    <script src="scripts/directives/month-view-parser-model-formatter.js"></script>
    <script src="scripts/directives/on-month-input-set.js"></script>
    <script src="scripts/directives/month-potential-validator.js"></script>
    <script src="scripts/directives/month-value-validator.js"></script>
    <script src="scripts/directives/expiration-date-year-model.js"></script>
    <script src="scripts/directives/year-potential-validator.js"></script>
    <script src="scripts/directives/year-value-validator.js"></script>
    <script src="scripts/services/dom-event-helper.js"></script>
    <script src="scripts/directives/wix-payment-match-label-heights.js"></script>
    <script src="scripts/services/cashier-bi-logger-service.js"></script>
    <script src="scripts/constants/server-payment-status-constants.js"></script>
    <script src="scripts/constants/cashier-payment-method-constants.js"></script>
    <script src="scripts/constants/payment-gatewayid-constants.js"></script>
    <script src="scripts/constants/bi-constants.js"></script>
    <script src="scripts/components/wix-conditional-payment-button.js"></script>
    <script src="scripts/components/wix-security-code-tooltip.js"></script>
    <script src="scripts/components/wix-payment-square/wix-payment-square.js"></script>
    <script src="scripts/services/bi-service.js"></script>
    <!-- endbuild --><!-- scripts -->
    <!-- end-process-tags -->

    <!-- #if( ${enableMocks} ) -->
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>

    <!-- build:js(.tmp) scripts/mocks.js -->
    <script src="test/mock/server-api.js"></script>
    <!-- endbuild -->
    <!-- #end -->
    <script>
    /* jshint ignore:start */
      angular.module('testApp', ['wixAngular', 'wix.common.bi', 'wixPayment'])
      .controller('MainController', function($scope, $interpolate, $location){
        var that = this;
        this.orderId = $location.search().orderId;
        this.visitorId = $location.search().visitorId;
        this.appInstanceId = $location.search().appInstanceId;
        this.appDefId = $location.search().appDefId;
        this.useTermsAndConditions = $location.search().useTermsAndConditions;
        this.hideOfflinePaymentButton = ($location.search().hideOfflinePaymentButton === 'true') ? true : false;

        this.config = {
          appInstanceId: this.appInstanceId,
          appDefId: this.appDefId,
          useTermsAndConditions: this.useTermsAndConditions,
          visitorId: this.visitorId,
          hideOfflinePaymentButton: this.hideOfflinePaymentButton
        };

        if (this.orderId) {
          this.config.orderId = this.orderId;
        }

        if (typeof $location.search().externalSubmitButton !== 'undefined') {
          this.config.externalSubmitButton = $location.search().externalSubmitButton;
        }

        this.submitExternalPayment = function() {
          $scope.$broadcast('wixPaymentSubmit', {orderId: $location.search().externalOrderId});
        }.bind(this);

        this.events = [];
        this.onLoad = function () {
          this.events.push({'eventType': 'onLoad'});
        }.bind(this);
        this.onPaymentStart = function () {
          this.events.push({'eventType': 'onPaymentStart'});
        }.bind(this);
        this.onPaymentSuccess = function () {
          this.events.push({'eventType': 'onPaymentSuccess'});
        }.bind(this);
        this.onError = function () {
          this.events.push({'eventType': 'onError'});
        }.bind(this);
        this.onPaymentError = function () {
          this.events.push({'eventType': 'onPaymentError'});
        }.bind(this);
        this.onPaymentNavigate = function (paymentProvider) {
          this.events.push({'eventType': 'onPaymentNavigate', 'description': paymentProvider});
        }.bind(this);
        this.onPaymentNavigateBack = function () {
          this.events.push({'eventType': 'onPaymentNavigateBack'});
        }.bind(this);
      });
      <!-- #end -->
    </script>
  </body>
</html>
