// ======================================================================
// =| Wix Styles (modules only) |========================================
// ======================================================================
@import '../bower_components/wix-style/dist/styles/modules';
@import '../../.tmp/styles/payment-svg-font-icons';
@import 'common';

//scss-lint:disable NestingDepth
.wix-payment-wrapper {

  $enable-wix-style-css: true;

  $wix-payment-border: #dfe5eb;
  $wix-payment-side-margin: 25px;
  $wix-payment-text-color: #20455e; //#02455e;
  $wix-payment-border-color: #daeffe;
  $wix-payment-selected-color: #3899ec;
  $btn-color: #3899ec;
  $btn-color-hover: #4eb7f5;
  $tab-color-hover: #d1e7f7;
  $btn-font-color: #ffffff;
  $wix-payment-titles-font: HelveticaNeueW01-55Roma, HelveticaNeueW02-55Roma, HelveticaNeueW10-55Roma, sans-serif;
  $wix-payment-header-vertical-separator-color: #d9e1e8;
  $wix-payment-header-back-arrow-color: #3899ec;
  $wix-payment-header-back-arrow-color-hover: #4eb7f5;

  width: 100%;
  height: 100%;
  font-family: $wix-font-family-helvetica-45;
  color: $wix-payment-text-color;

  .choose-payment-header {
    display: inline-block;
    font-size: 24px;
    font-weight: normal;
    margin-top: 42px;
    margin-bottom: 36px;
    line-height: 30px;
    font-family: $wix-payment-titles-font;

    @media only screen and (max-device-width: 1024px) {
      font-size: 22px;
      margin-left: 24px;
      margin-top: 30px;
      margin-bottom: 30px;

    }
  }

  .tab-header-inner {
    &:before {
      position: absolute;
      display: inline-block;
      content: '';
      border: 6px solid transparent;
      border-left-color: $wix-payment-selected-color;
      top: 36px;
      right: 24px;
      transition: all .15s ease-in-out;
    }

    &:after {
      position: absolute;
      display: inline-block;
      content: '';
      border: 6px solid transparent;
      border-left-color: $btn-font-color;
      top: 36px;
      right: 26px;
      transition: all .15s ease-in-out;
    }
  }

  .tab-header {
    &:hover {
      .tab-header-inner:after {
        border-left-color: $tab-color-hover;
      }
    }
  }

  .wcsh-wix-tabs {

    .payment-header-vertical-separator {
      border-right: 1px solid $wix-payment-header-vertical-separator-color;
      height: 28px;
      vertical-align: bottom;
      margin: 0 19px 0 20px;
    }

    .payment-svg-font-icons-back-arrow:before {
      color: $wix-payment-header-back-arrow-color;
      font-size: 21px;
      width: 20px;
      height: 20px;
      vertical-align: baseline;
    }

    .payment-svg-font-icons-back-arrow:hover:before {
      color: $wix-payment-header-back-arrow-color-hover;
    }

    .wix-payment-tabset-back {
      text-decoration: none;
    }

    .tab-header {
      position: relative;
      transition: background-color .15s ease-in-out;
      box-sizing: border-box;
      text-align: left;
      display: block;
      color: $wix-payment-text-color;
      width: 100%;
      border-left: 1px solid $wix-payment-border;
      border-right: 1px solid $wix-payment-border;
      border-top: 1px solid $wix-payment-border;
      padding-left: 102px;
      text-decoration: none;
      line-height: 32px;
      font-size: 18px;

      padding-top: 26px;
      padding-bottom: 26px;
      background: transparent;

      &:before {
        position: absolute;
        content: '';
        box-sizing: content-box;
        height: 27px;
        width: 43px;
        margin-top: 2px;
        left: 20px;
        padding-right: 20px;
        border-right: 1px solid $wix-payment-border;
      }

      &.active {
        border-bottom: 1px solid $wix-payment-selected-color;
        color: $wix-payment-selected-color;
      }

      &:hover,
      &:hover:not(.disabled) {
        background-color: $tab-color-hover;
        //color: $wix-payment-selected-color;
      }

      @media only screen and (max-device-width: 1024px) {
        border-left: 0;
        border-right: 0;
        font-size: 20px;
      }
    }

    .credit-card-tab {

      &:before {
        background: url('../images/cc-icon.svg') no-repeat;
      }
    }

    .paypal-tab {

      &:before {
        background: url('../images/pp-icon.svg') no-repeat;
      }
    }

    .yandex-tab {

      &:before {
        background: url('../images/yandex-icon.svg') no-repeat;
        height: 42px;
      }
    }

    .mercadopago-tab {

      &:before {
        background: url('../images/mp-icon.svg') no-repeat;
      }
    }

    .offline-tab {

      &:before {
        background: url('../images/offline-icon.svg') no-repeat;
      }
    }

    .wp-active-tab-content {
      padding: 0 0 26px;
      border: 0;

      @media only screen and (max-device-width: 1024px) {
        padding: 0;
      }
    }

    .tabs-wrapper {
      border-bottom: 1px solid $wix-payment-border;
      display: block;
      box-sizing: border-box;
      width: inherit;
      font-family: $wix-payment-titles-font;

      @media only screen and (max-device-width: 1024px) {
        margin: 0;
      }
    }

    > .tabs > .tabs-wrapper {
      //border-bottom: 1px solid $wix-payment-border;
      padding: 0 $wix-payment-side-margin;
    }
  }

  .payment {
    padding-top: 0;
  }

  .wallet-header {

    @media only screen and (max-device-width: 1024px) {
      padding: 0;
    }
  }

  .wallet-text {
    @media only screen and (min-device-width: 1024px) {
      margin-top: 25px;
      margin-bottom: 42px;
      font-size: 16px;
    }

    @media only screen and (max-device-width: 1024px) {
      width: 100%;
      font-size: 18px;
      line-height: 26px;
      margin-top: 16px;
      margin-bottom: 40px;
    }

  }

  .wix-payment-offline-text {
    margin-top: 0;
    word-wrap: break-word;
  }

  .wallet-wrap {
    border: 1px solid $wix-payment-border;
    padding: 30px;
    position: relative;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;

    @media only screen and (max-device-width: 1024px) {
      border: 0;
      padding: 24px;
      border-top: 1px solid $wix-payment-border;
    }
  }

  .wallet-wrap-creditcard {
    padding: 0;

    @media only screen and (max-device-width: 1024px) {
      border: 0;
    }
  }

  .wix-payment-button-primary {
    font-family: $wix-payment-titles-font;
    border-radius: 20px;
    border-width: 0;
    background-color: $btn-color;
    height: 42px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin: 0 0 12px;
    padding: 0 42px;
    color: $btn-font-color;

    &:hover {
      background: $btn-color-hover;
    }

    &:before {
      vertical-align: top;
      margin-right: 7px;
    }

    &:disabled {
      background-color: $btn-color-disabled;
      cursor: default;
    }

    @media only screen and (max-device-width: 1024px) {
      margin: 0;
      width: 100%;
      float: none;
      padding: 0;
      height: 48px;
      border-radius: 30px;
      font-size: 20px;
    }
  }

  .wix-payment-paypal {
    .wix-payment-pp-logo {
      background: url('../images/pp-logo.svg') no-repeat;
      width: 100px;
      height: 26px;
      display: block;
    }
  }

  .wix-payment-yandex {
    .wix-payment-yandex-logo {
      background: url('../images/yandex-logo.svg') no-repeat;
      width: 100px;
      height: 50px;
      display: block;
    }
  }

  .wix-payment-mercadopago {

    .wix-payment-mercadopago-logo {
      background: url('../images/mercado-pago.svg') no-repeat;
      width: 106px;
      height: 29px;
      display: block;
    }
  }

  .payment-svg-font-icons-lock {

    position: relative;

    &:before {
      content: '\f101';
      color: $btn-font-color;
      font-size: 16px;
      margin-right: 10px;
      vertical-align: middle;
      margin-bottom: 5px;
    }
  }
}

@include wcsh-wix-terms-and-conditions;

.wcsh-payment-button-container {
  max-width: 288px;
}

.wix-payment-square-component {
  $label-font-size: 14px;
  $error-color: #ee5951;
  $error-background-color: #fdefee;

  .wix-payment-invalid-form-input-label {
    margin: 0;
    padding: 20px;
    font-size: $label-font-size;
    color: $error-color;
    line-height: 14px;
    background-color: $error-background-color;
  }

}

.wix-payment-square {

  $border-color: #dfe5eb;
  $input-background-color: #ffffff;

  @include wcsh-security-tooltip-wrapper(0);
  @include wcsh-security-code-tooltip;

  border: 1px solid $border-color;

  * {
    border: 0;
    box-sizing: initial;
  }

  .input-label {
    $label-color: #577083;

    font-size: 14px;
    color: $label-color;
    line-height: 14px;
  }

  fieldset {

    $body-color: #575757;

    padding: 0;
    margin: 0;

    .wix-payment-square-card-number-section {
      border-bottom: 1px solid $border-color;
      padding: 20px;
      height: 36px;
    }

    .wix-payment-square-exprdt-cvv-section {
      display: flex;
      border-bottom: 1px solid $border-color;

      .wix-payment-square-exprdt-section {
        border-right: 1px solid $border-color;
        padding: 20px;
        height: 36px;
        width: 50%;
      }

      .wix-payment-square-cvv-section {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 20px 0 0 20px;
        height: 36px;
        width: 50%;
      }

      .wcsh-security-tooltip-wrapper {
        margin: -7px 10px;
      }
    }

    .wix-payment-square-postal-code-section {
      border-bottom: 1px solid $border-color;
      padding: 20px;
      height: 36px;
    }

    .wix-payment-square-submit-section {
      width: 300px;
      float: right;

      .wix-payment-button-primary {
        padding: 0 70px;
        margin: 45px 24px 12px 42px;
        float: none;
        outline: 0;
      }
    }
  }
}

.mercadopago-btn {
  width: 300px;
}
