.container(ng-click="wix4allApp.onClick()")
  .hero-unit
    %h1
      {{'general.YO' | translate}}
      %i.logo-on-header.wix4all-svg-font-icons-wix-logo
    %div
      This is {{wix4allApp.name}} ({{wix4allApp.clicks}})
    %h3 Enjoy coding! - Yeoman
